name: .NET CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'

    - name: Restore dependencies
      run: dotnet restore ./OAuthDotNetAPI/OAuthDotNetAPI.sln

    - name: Check Formatting
      run: dotnet format ./OAuthDotNetAPI/OAuthDotNetAPI.sln --verify-no-changes --verbosity diagnostic

    - name: Build
      run: dotnet build ./OAuthDotNetAPI/OAuthDotNetAPI.sln --no-restore --configuration Release -p:TreatWarningsAsErrors=true

    - name: Run tests
      run: dotnet test ./OAuthDotNetAPI/OAuthDotNetAPI.sln --no-build --verbosity normal --configuration Release

    - name: Scan for Vulnerable NuGets
      run: dotnet list ./OAuthDotNetAPI/OAuthDotNetAPI.sln package --vulnerable --include-transitive
      continue-on-error: false

